<%provide(:title, "#{@user.name}")%>
<div class="jumbotron diamond_white col-md-12">

  <div class="col-md-4">
  	<%=render "users/user_show"%>
  	<%=render "words/word_form" if correct_user?%>
  </div>

  <div class="col-md-7 col-md-offset-1">
  <br/>
  <%if !count_words_nil?(@count_words)%>
      <%=render "shared/progress_bar"%>
  <%end%>
  </div>
</div>