<%provide(:title, "#{@user.name}")%>

<div class="col-md-4">
	<h3><%=@user.name%><h3>
	<p><%=@user.email%></p>
	<%=link_to 'All users', users_path%>
</div>
<div class="col-md-7 col-md-offset-1">
	<div class="jumbotron">
	<h3>It will be words for review, and pa</h3>
</div>