<%if @user.errors.any?%>
	<div class="center">You have <%=pluralize(@user.errors.count, "error")%></div>
	<%@user.errors.full_messages.each do |mes|%>
		<ul class='error_messeges'>
			<fotter><small><%=mes%></small></fotter>
		</ul>
	<%end%>
<%end%>