<%if object.errors.any?%>
	<div class="center error_messeges">You have <%=pluralize(object.errors.count, "error")%></div>
	<%object.errors.full_messages.each do |mes|%>
		<ul class='error_messeges'>
			<fotter><small><%=mes%></small></fotter>
		</ul>
	<%end%>
<%end%>